@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&family=Pavanam&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  padding: 0;
  margin: 0;
  background-image: url(https://w.wallhaven.cc/full/13/wallhaven-13eq39.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(20px);
  color: white;
  font-family: "Manrope";
  background-color: black;
}

a {
  text-decoration: none;
  color: rgb(87, 218, 218);
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 170px;
  background: transparent;
  border-bottom: 3px solid rgb(87, 218, 218);
  box-sizing: border-box;
}
header img {
  width: 150px;
}
header h1 {
  color: rgb(87, 218, 218);
  text-shadow: 1px 4px 7px rgb(218, 87, 137);
}
header ul {
  list-style: none;
  display: flex;
  width: 300px;
  justify-content: space-between;
}
header ul li {
  color: rgb(87, 218, 218);
  font-size: 18px;
  font-weight: 500;
  transition: 0.5s ease;
  text-shadow: 1px 4px 7px rgba(255, 255, 255, 0.6);
}
header .hamburger {
  display: none;
}

.menu {
  position: absolute;
  right: 40px;
  top: 120px;
  background-color: black;
  border: 1px solid rgb(87, 218, 218);
  border-radius: 16px;
  padding: 20px;
  display: none;
  box-shadow: 11px 18px 36px -21px black;
}

.displayed {
  display: inline;
}

.on {
  color: white;
}

.hero {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  color: rgb(218, 87, 137);
  font-size: 36px;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px rgb(218, 87, 137);
  font-weight: 500;
}

footer {
  border-top: 3px solid white;
  width: 100%;
  position: absolute;
  background-color: black;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  flex-direction: column;
}
footer ul {
  list-style: none;
  padding: 5px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
footer .copyright {
  max-width: 300px;
  margin: 0 auto;
}

.about {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about h1 {
  font-size: 52px;
  text-shadow: 1px 4px 7px rgba(255, 255, 255, 0.6);
}

.pack-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 1000px;
}
.pack-container .premium {
  list-style-image: url(/checkmark.svg);
}
.pack-container h1 {
  margin-bottom: 20px;
}
.pack-container .packs {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 50px;
}
.pack-container .packs .pack {
  box-shadow: 12px 10px 13px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 16px;
  background: black;
  border: 1px solid rgb(87, 218, 218);
  padding: 10px;
}
.pack-container .packs .pack ul {
  color: rgb(218, 87, 137);
}
.pack-container .packs .pack .elofizetes {
  width: 200px;
  height: 25px;
  border: 1px solid white;
  border-radius: 16px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.pack-container .packs .pack .elofizetes:hover {
  background: linear-gradient(135deg, rgb(87, 218, 218) 0%, rgb(218, 87, 137) 80%);
  text-shadow: 1px 4px 7px white;
  box-shadow: 10px 10px 20px -13px rgba(255, 255, 255, 0.75);
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  border: none;
}

@media (max-width: 768px) {
  .hero {
    font-size: 24px;
  }
  header ul {
    display: none;
  }
  header .hamburger {
    display: inline;
    position: absolute;
    right: 40px;
    top: 80px;
    cursor: pointer;
  }
  .pack-container {
    padding: 10px;
    height: 1400px;
  }
  .pack-container .packs {
    grid-template-columns: repeat(1, 1fr);
  }
  .pack-container .packs .pack {
    height: auto;
  }
}
@media (max-width: 530px) {
  .pack-container {
    height: 1500px;
  }
}
@media (max-width: 350px) {
  .pack-container {
    height: 1700px;
  }
}/*# sourceMappingURL=style.css.map */