@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&family=Pavanam&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "colors";


body{

    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(https://w.wallhaven.cc/full/13/wallhaven-13eq39.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
    color: white;
    font-family: "Manrope";
    background-color: black;
}

a{
    text-decoration: none;
    color: $retroblue;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 170px;
    background: transparent;
    border-bottom: 3px solid $retroblue;
    box-sizing: border-box;
    img{
        width: 150px;
    }

    h1{
        color: $retroblue;
    }

    ul{
        list-style: none;
        display: flex;
        width: 300px;
        justify-content: space-between;

        li{
            color: $retroblue;
            font-size: 18px;
            font-weight: 500;
            transition: 0.5s ease;

            &:hover{
                font-size: 22px;
            }
        }

        
    }

    .hamburger{
        display: none;
    }
}

.on{
   color: white;
}

.hero{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    max-width: 1000px;
    margin: 0 auto;
    color: $retrored;
    font-size: 36px;
    padding: 10px; 
    text-align: center;
    box-sizing: border-box;
}




footer{
    width: 100%;
    position: absolute;
    background-color: black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    flex-direction: column;
    ul{
        list-style: none;
        padding: 5px;
        width: 300px;
        display: flex;
        justify-content: space-between;
    }

    .copyright{
        max-width: 300px;
        margin: 0 auto;
    }
}

.about{

    h1{
        font-size: 52px;
    }

    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pack-container{
    max-width: 1000px;
    margin: 0 auto;
    height: 600px;

    h1{
        margin-bottom: 20px;
    }

    .packs{
        
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 50px;

        .pack{
            box-shadow: 12px 10px 13px 0px rgba(0,0,0,0.75);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 200px;
            border-radius: 16px;
            background: black;
            border: 1px solid $retroblue;

            ul{
                color: $retrored;
            }
        }

    }
}

@media (max-width: 768px) {
    .hero{
        font-size: 24px;
    }

    header{
        ul{
            display: none;
        }

        .hamburger{
            display: inline;
            position: absolute;
            right: 40px;
            top: 80px;
            cursor: pointer;
        }
    }

    .pack-container{

        height: 1100px;
        .packs{
            grid-template-columns: repeat(1, 1fr);
        }

    }
    
}